.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 20px;
}

body {color: black;
font-size: 14px;
font-style: normal;
font-family: "Arial";
}

h3 {font-family: "Segoe UI";
font-size: 24px;}

/* No funciona >:(*/
.main-sidebar {
width=50px;
background-color: rgb(255,125,125);}

/* Pestaña seleccionada */
.main-sidebar .sidebar .sidebar-menu .active a{
                          background-color: rgb(88, 0, 135);
                          color: rgb(255,255,255);font-weight: bold;}

/*Las no seleccionadas */
.main-sidebar .sidebar .sidebar-menu a{
                          color: rgb(255,255,255);font-weight: bold;}